* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e1e1e1;
  overflow-x: hidden;
}

header {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    background-color: #673ab7;
    color: white;
}

main {
    width: 100%;
    min-height: 1500px;
    background-color: whitesmoke;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #673ab7;
    margin: 10px 0;
}

.h2-main {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: #333;
}

.p-main {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.box-input {
    margin-bottom: 35px;
    display: block;
}

.alin{
    margin-top: 30px;
}

.box-input p {
    margin-bottom: 15px;
}

.block {
    width: 30%;
    min-width: 120px;
    height: 40px;
    display: inline-block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
    width: 200px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 100%;
  max-width: 400px;
}

textarea {
  padding: 10px 5px;
}

.required-field {
  color: #d80835;
}

#enviar{
    padding: 20px 60px;
    font-size: 15px;
    background-color: #673ab7;
    color: white;
    text-transform: uppercase;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}

#enviar:hover{
    background-color: white;
    border: 2px solid #673ab7;
    color: black;
}

/* Responsividade */
@media only screen and (max-width: 500px) {
    header {
        text-align: center;
        padding: 15px;
    }
    main {
        padding: 10px;
    }
    .h2-main {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .p-main {
        font-size: 1rem;
    }
    .block {
        width: 100%;
        margin-bottom: 15px;
    }
    input, textarea {
        width: 100%;
        max-width: 100%;
    }
}
